<tr id="<%= dom_id product %>">
  <td>
    <%= product.name %>
  </td>

  <td>
    <%= product.value %>
  </td>

  <td>
    <%= product.description %>
  </td>
  <td>
  <td>
    <%= button_to "Destroy this product", product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>