<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <table class="table table-responsive">
    <tr>
      <th>NAME</th>
      <th>VALUE</th>
      <th>DESCRIPTION</th>
      <th>ACTIONS</th>
    </tr>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </table>
</div>

<%= link_to "New product", new_product_path %>

